/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: url("../img/bg.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(34, 34, 34, 0.8);
}

@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
  }
}

a {
  color: #27b9ec;
  text-decoration: none;
}

a:hover {
  color: #1fc0fa;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  position: relative;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.coachsir_gototop {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #27b9ec;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.coachsir_gototop i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.coachsir_gototop:hover {
  background: #1fc0fa;
  color: #fff;
}

.coachsir_gototop.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.mynavbar
{
  margin: 2px;
  padding: 4px;
}
.mynavbar form a button
{
   border-color: #1fc0fa;
   padding: 10px 15px;
   color: #1fc0fa;
   margin: 0px 3px;
}

 @media screen and (max-width: 400px){
  .mynavbar form a button{
    border-color: #1fc0fa;
    padding: 10px 15px;
    color: #1fc0fa;
    margin: 0px 3px;
  }
}


.mynavbar form a button:hover
{
   border-color: #1fc0fa;
   color: #fff;
   background-color: #1fc0fa;
}

.mynavbar a img
{
   padding: 20px;
}

#coachsir_top {
  position: relative;
  width: 100%;
  padding: 100px 0;
  /* countdown */
}

#coachsir_top h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#coachsir_top h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
}

#coachsir_top .countdown {
  margin-bottom: 80px;
}

#coachsir_top .countdown div {
  text-align: center;
  margin: 10px;
  width: 100px;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.12);
  border-top: 5px solid #27b9ec;
}

#coachsir_top .countdown div h3 {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 15px;
}

#coachsir_top .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 575px) {
  #coachsir_top .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }

  #coachsir_top .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  #coachsir_top .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}

@keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#coachsir_top .social-links {
  margin-top: 10px;
}

#coachsir_top .social-links a {
  font-size: 24px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1;
  padding-top: 14px;
  margin: 0 10px;
  text-align: center;
  transition: 0.3s;
}

#coachsir_top .social-links a:hover {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 20px 0;
}

.section-bg {
  background-color: #fff5f5;
}

.section-title {
  text-align: center;
  padding-bottom: 5px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}

.section-title p {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
#coachsir_middle .info-wrap {
  background: rgba(255, 255, 255, 0.06);
  padding: 30px;
}

#coachsir_middle .info i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#coachsir_middle .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

#coachsir_middle .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
}

#coachsir_middle .info .email p {
  padding-top: 5px;
}

#coachsir_middle .info .social-links {
  padding-left: 60px;
}

#coachsir_middle .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

#coachsir_middle .info .social-links a:hover {
  background: #27b9ec;
  color: #fff;
}

#coachsir_middle .info .email:hover i,
#coachsir_middle .info .address:hover i,
#coachsir_middle .info .phone:hover i {
  background: #27b9ec;
  color: #fff;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#coachsir_bottom {
  background: rgba(19, 19, 19, 0.4);
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  position: relative;
}

#coachsir_bottom .copyright {
  text-align: center;
}

#coachsir_bottom .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#coachsir_bottom .credits a {
  color: #27b9ec;
}